*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
}
.calc-project{
    background-color: aqua;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 5px;
    padding: 5px;
    display: grid;
    gap: 10px;
}
output{
    background-color: aliceblue;
    padding-left: 300px;
    
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  
}